@charset "UTF-8";
.block-system-breadcrumb-block {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.breadcrumb {
  font-size: 14px;
  max-width: 1200px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.breadcrumb ol {
  margin-left: 1.5rem;
}
.breadcrumb ol li::before {
  content: "/ ";
  color: black;
  font-weight: 500;
}
.breadcrumb ol li:nth-child(2) {
  color: #e60000;
  font-weight: 700;
}