.region-content .search-form {
  margin-top: -16rem;
}
.region-content .search-form label {
  display: none;
}
.region-content .search-form input[type=search] {
  padding: 12px 47px;
  margin-left: 15rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 50%;
}
.region-content .search-form input[type=submit] {
  border: none;
  border-radius: 5px;
  margin-left: 20px;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 13px 20px;
  font-weight: 700;
  background: linear-gradient(90deg, #e52d27 0px, #d10014 49.87%, #b31217 100%);
  box-shadow: rgba(15, 15, 15, 0.2) 2px 4px 8px;
}
.region-content .search-form .fa-search {
  font-size: 1.2rem;
  position: absolute;
  margin-left: 16rem;
  margin-top: 13px;
  color: dimgrey;
}

.search-help-link, .search-advanced {
  display: none;
}

.search-wrapper h2 {
  font-weight: normal !important;
  font-size: 0.8em;
  margin-left: 15.1rem;
}
.search-wrapper .item-list {
  width: 72.5%;
  padding-top: 30px;
  margin: auto;
}
.search-wrapper .search-results {
  height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
.search-wrapper .search-results li {
  padding-top: 15px;
}

.news-search-result {
  border-bottom: 1px solid #ddd;
  padding-right: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.news-search-result .search_img {
  width: 25%;
  padding-right: 15px;
  margin-top: -1.5rem;
  margin-right: 1rem;
}
.news-search-result .search_img img {
  width: 200px;
  height: 111px;
  border-radius: 4px;
}
.news-search-result .news-search-info {
  width: 75%;
}
.news-search-result .search-result__title {
  margin: 0;
  font-size: 16px;
}
.news-search-result .search-result__snippet-info {
  padding: 15px 0px;
}
.news-search-result .search-result__snippet-info .search-result__snippet {
  margin: 0;
  font-size: 0.8em;
  white-space: nowrap;
}
.news-search-result .search-result__info {
  font-size: 11px;
}