// colors
$black: #000;
$bgColor: #f8f8f8;
$borderColor: #ddd;
$color1: #878787;
$white: #fff;
$mainColor: #d10014;

// font-size
$font100: 100%;
$font16: 16px;
$font14: 14px;
$font21: 21px;
$font25: 25px;
$font8em: .8em;

// width and height
$wd100: 100%;
$wd20: 20%;
$wd25: 25%;
$wd30: 30%;
$wd36: 36%;
$wd54: 54%;

$htAuto: auto;
$ht100: 100%;


// spacing - paddings and margins
$m0: 0;
$mb30r: 30rem;
$mt30: 30px;
$mr20: 20px;
$pt10: 10px;
$pt15: 15px;


$box-shadow1: 0 0 18px 0 #0000002b;
