@import "../abstracts/mixins";
@import "../abstracts/variables";

.highlighted-section {
  @include homepage-view-wrapper();
}

.masthead-wrapper {
  display: flex;
  @include section1200();

  aside {
    @include viwew-element-container();
  }
}

.highlight_first {
  width: calc(32% + 6px);

  .views-field-title {
    width: calc(50% + 37px);
  }
}

.highlight_second {
  width: calc(39% + 2px);

  .views-field-title {
    width: 72.8%;
  }
}

.highlight_third {
  min-width: 300px;
}

.views-element-container {

  .view-display-id-block_1,
  .view-display-id-block_2 {
    .views-row {
      padding: 15px;
      display: flex;
      flex-direction: row-reverse;
      border-top: 1px solid #ddd;
    }
  }

  .views-field-field-news-image {
    width: calc(39% + 2px);

    .field-content {
      display: flex;
      overflow: hidden;
      position: relative;

      img {
        transition: all 0.5s;
        border-radius: 2 px;
      }
    }
  }

  .views-field-title {
    height: 79px;
    padding-left: 10px;
    overflow: hidden;

    .field-content {
      margin: 0;
    }

    a {
      font-size: 16px;
      line-height: 19px;
    }
  }
}
