.region-content {
  .search-form {
    margin-top: -16rem;
    label {
      display: none;
    }
    input[type="search"] {
      padding: 12px 20px;
      margin-left: 15rem;
      border: 1px solid #ddd;
      border-radius: 4px;
      width: 50%;
    }
    input[type="submit"] {
      border: none;
      border-radius: 5px;
      margin-left: 20px;
      color: white;
      text-align: center;
      font-size: 16px;
      padding: 13px 20px;
      font-weight: 700;
      background: linear-gradient(90deg, rgba(229, 45, 39) 0px, rgba(209, 0, 20) 49.87%, rgba(179, 18, 23) 100%);
      box-shadow: rgb(15 15 15 / 20%) 2px 4px 8px;
    }
  }
}

.search-help-link, .search-advanced {
  display: none;
}

.search-wrapper {
  h2 {
    font-weight: normal !important;
    font-size: .8em;
    margin-left: 15.1rem;
  }
}
