.bars-block {
  top: 0.8rem;
  left: 0.5rem;

  @media only screen and (max-width: 768px) {
    left: 0;
  }
   @include breakMax(sm) {
     top: -0.2rem;
   }
}

.fa-bars {
  font-size: 25px;
  cursor: pointer;
}
