.homepage-wrapper {

  .block-views-blockcovid-19-stats-block-1 {
    background-color: $bgColor;
    padding: 0 10px 40px 10px;
    width: 102%;
    margin-left: -10px;

    .view-covid-19-stats {
      @include section1200();

      .views-view-grid {
        width: 100%;
        min-height: 87px;
        background: #fff;
        border: 1px solid #ddd;
        box-sizing: border-box;
        box-shadow: 2px 4px 8px rgb(0 0 0 / 10%);
        border-radius: 4px;

        .views-row {
          .col-1 {
            width: 32% !important;
            padding-top: 22px;

            .field-content {
              img {
                padding-left: 20px;
                max-width: 85%;
                width: 293px;
                height: 42px;
              }
            }
            .views-field-field-totalnumbers {
              .field-content {
                padding-left: 16px;
                padding-top: 6px;
                font-style: italic;
                font-weight: 400;
                font-size: 11px;
                color: #464646;
              }
            }
          }
          .col-2, .col-3, .col-4, .col-5 {
            width: 16% !important;
            border-radius: 2px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 1%;
            min-height: 67px;

            .views-field-field-totalnumbers {
              .field-content {
                color: $black;
                min-height: 19px;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                font-family: roboto, sans-serif;
                line-height: 19px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                margin-top: 6px;
                margin-left: 10px;

                @media only screen and (max-width: 768px) {
                  font-size: 14px;
                }
              }
            }
            .views-field-field-statsl {
              .field-content {
                min-height: 28px;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 7px;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                font-family: roboto, sans-serif;
                line-height: 28px;
                text-align: left;
                color: #0f0f0f;
                word-wrap: break-word;

                @media only screen and (max-width: 768px) {
                  font-size: 18px;
                }
              }
            }
            .views-field-field-statsr {
              .field-content {
                min-height: 21px;
                margin-top: 5px;
                margin-right: 8px;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                text-align: left;
                color: #d10014;
                margin-left: 10px;
                margin-bottom: 6px;
                display: flex;
                padding-left: 25px;
              }
            }
          }
          .col-2 {
            background: #dadada;
          }
          .col-3 {
            background: #cde6fd;
          }
          .col-4 {
            background: #cdeadb;
          }
          .col-5 {
            background: #f6ccd0;
          }

        }
      }
    }
  }
}
