.language-switcher-language-url {
  margin-left: -10rem;
  left: 0.9rem;
   @include breakMax(sm) {
     top: 1.4rem;
     margin-left: -10rem  ;
   }
  .links {
    display: flex;
    list-style: none;

    .hi {
      padding-left: 6rem;
      background-image: url(https://img.republicworld.com/republic-prod/logo/tr:w-95,h-20/r-bharat-web.png);
      background-repeat: no-repeat;
      margin-left: 5rem;

      a {
        display: block;
        margin-left: -11.7rem;
        font-size: $font14;

        @include breakMax(md) {
          position: relative;
          left: 5.8rem;
          bottom: 1.2rem;
        }
      }
    }
    .en {
      display: none;
    }
  }
}
