.poll-view {
  border: 4px solid #f30f0f;
  border-radius: 4px;
  padding: 4px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: initial;

  h2 {
    padding-top: 5px;
    font-size: 18px;
    height: 80px;
    margin: 0;
    font-weight: 700;
  }
}

.poll-view-form-1 {
  width: calc(100% - 30px);
}

.poll-results-title {
  display: none;
}

.poll {
  dl {
    width: 100%;
    display: flex;
    flex-direction: row;

    dt {
      position: relative;
      left: 1.6rem;
      margin: auto 0;
    }

    dd {
      width: 94%;
    }
  }

  .bar {
    div {
      background-color: green;
      width: 100%;
    }
  }
}
