.block-views-blocksidebar-list-block-7 {
  padding: 20px 10px 40px 10px ;
  h2 {
    padding-bottom: 15px;
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: roboto, sans-serif;
    margin: 0;
  }
}

.view-display-id-block_7 {
  margin-right: 20px;
  width: 50%;
  // @include section1200();

  .view-content {
    width: 100%;
    display: flex;

    .views-col {
      width: 47% !important;
      border: 1px solid #ddd;
      box-shadow: $box-shadow1;
      background-color: $white;

      .views-field-title {
        padding: 13px;

        a {
          font-size: 18px;
          line-height: 23px;
          font-weight: 600;
          &:hover {
            opacity: .7;
            color: black;
          }
        }
      }
    }
    .col-1 {
      margin-right: 20px;
    }
  }
}
