.block-views-blockcontent-news-block-2 {
  h2 {
    text-transform: uppercase;
  }
  .view-display-id-block_2 {
    display: flex;
    .view-content {
      margin-right: 20px;
    }
    .row-1 {
      background-color: #fff;
      border: 1px solid #ddd;
      box-shadow: 2px 2px 10px rgb(221 221 221 / 50%);
      .views-col {
        width: 100% !important;

        .political-title {
          flex-direction: column;
          display: flex;
          justify-content: center;
          padding: 15px;

          a {
            font-size: 21px;
            line-height: 25px;
            font-weight: 700;
            margin: 0;
          }
        }
      }

      .col-2, .col-3 {
        border-top: 1px solid #ddd;
        padding: 5px;

        img {
          display: none;
        }
        .political-title {
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}


.attachment-after {
  display: flex;
}

.political-centre {
  .view-content {
    .row-1 {
      img {
        display: block !important;
      }
      .views-col {
        display: flex;
        padding: 15px;
        border-top: 1px solid #ddd;
        height: 8.7rem;
      }

      .political-title {
        padding: 0 0 0 10px !important;
        a {
          font-size: 16px !important;
          line-height: 19px !important;
          width: 13rem;
        }
      }
    }
  }
}

.political-right {
  .view-content {
    .row-1 {
      img {
        display: block !important;
      }
    }
  }
  .political-title {
    height: 7.5rem;
    a {
      font-size: 16px !important;
      line-height: 19px !important;
    }
  }
}
